{% load static %}
{% include 'header.html' %}
	
		


		<!-- Start Contact Us -->
		<section class="contact-us section">
			<div class="container">
				<div class="inner">
					<div class="row"> 
						<div class="col-lg-6">
							<div class="contact-us-left">
								<!--Start Google-map -->
								<div id="myMap"></div>
								<!--/End Google-map -->
							</div>
						</div>
						<div class="col-lg-6">
							<div class="contact-us-form">
								<h2>BOOK APPOINTMENT</h2>
								<p>If you have any questions please fell free to contact with us.</p>
								<!-- Form -->
								<form class="form" method="post" action="bookapp" enctype="multipart/form-data">
									{% csrf_token %}  
									<!-- security token  -->
									<div class="row">
                                        <div class="col-lg-6">
											<div class="form-group">
												<input  name="patientname" type="text" placeholder="Patientname"  required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="patientage" placeholder="Patientage" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="patientemail" placeholder="Patientemail" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="number" name="patientphone" placeholder="Patientphone" min="0" required="">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
                                                <select name="docname" id="cars">
                                                    {% for i in result %}
                                                    <option value="{{i.docname}}({{i.docspecialization}})">{{i.docname}}({{i.docspecialization}})></option>
                                                    {% endfor %}   
                                                </select>
												
											</div>
										</div>
										
										<div class="col-12">
											<div class="form-group">
												<input name="bookingdate" type="date" placeholder="date">
											</div>
                                            
                                        </div>
                                            
                                    </div>

                                    <div class="col-12">
											<div class="form-group">
												<textarea name="patientproblem"  placeholder="Write Your Health issue Here...."></textarea>
											</div>
                                            
                                        </div>
                                            
                                    </div>
                                    <div class="col-12">
											<div class="form-group login-btn">
												<button class="btn" type="submit">ADD</button>
											</div>
											<div class="checkbox">
												<label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">Do you want to subscribe our Newsletter ?</label>
											</div>
										</div>
									</div>
								</form>
								<!--/ End Form -->
							</div>
						</div>
					</div>
				</div>
				<div class="contact-info">
					<div class="row">
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont icofont-ui-call"></i>
								<div class="content">
									<h3>+(000) 1234 56789</h3>
									<p>info@company.com</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont-google-map"></i>
								<div class="content">
									<h3>2 Fir e Brigade Road</h3>
									<p>Chittagonj, Lakshmipur</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12 ">
							<div class="single-info">
								<i class="icofont icofont-wall-clock"></i>
								<div class="content">
									<h3>Mon - Sat: 8am - 5pm</h3>
									<p>Sunday Closed</p>
								</div>
							</div>
						</div>
						<!--/End single-info -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Contact Us -->
		
{% include 'footer.html' %}		
